* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(---main-bg-color);
  font-size: var(--font-size);
}
.container-left {
  width: 30%;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-boxes {
  display: flex;
  gap: 10px;
}
.color-boxes .box {
  height: 60px;
  width: 60px;
  border: 1px solid black;
}
.color-boxes .box.box-1 {
  background-color: red;
}
.color-boxes .box.box-2 {
  background-color: blue;
}
.color-boxes .box.box-3 {
  background-color: yellow;
}
.content{
  margin: 30px;
  font-family: var(--font);
}
.container-right {
  width: 70%;
}